{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > <center>Categories </h3></center>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="spec ">
    <h3>Modifier categorie</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">

    {{ form_start(edit_form) }}

                <label >Nom :</label>
                {{ form_widget(edit_form.nom) }}
                {{ form_errors(edit_form.nom) }}
                <br>
                <label >Choisissez un entrepot :</label>
                {{ form_widget(edit_form.fkEntrepot) }}
                {{ form_errors(edit_form.fkEntrepot) }}
                <br>
                <label >Ajouter l'image du produit :</label>
                {{ form_widget(edit_form.imageFile) }}
                {{ form_errors(edit_form.imageFile) }}
                <br>
                <br>
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}


        <a href="{{ path('categories_index') }}"><input type="submit" value="Retour à la liste" /></a><br>
                <a href="{{ path('categories_delete', { 'idCategorie': category.idCategorie }) }}"><input type="submit" value="Supprimer" /></a><br>



</div>
        </div></div></div>
{% endblock %}
