{% extends 'base.html.twig' %}

{% block content %}
    <div class="banner-top">
        <div class="container" >
            <h3 > <center>Categories </h3></center>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
        <h3>La liste des categories</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
<div class="bs-docs-example">
        {% for user in users %}
            {% if user.id == idconnected  %}
                {% for category in categories %}
                    {% if user == category.idUser  %}
                            <div class="col-md-4 m-w3ls">
                                <div class="col-md1 ">
                                        <img src="{{ asset('images/co1.jpg') }}" class="img-responsive" alt="">
                                        <div class="big-sa">
                                            <h6>{{ category.nom }}</h6>
                                        </div>
                                </div>
                            </div>
                            <td>
                                <ul>
                                    <ul>
                                        <li class="label label-info" > <a style="color:white"  href="{{ path('categories_show', { 'idCategorie': category.idCategorie }) }}">show</a></li>
                                        <li class="label label-default"><a style="color: white" href="{{ path('categories_edit', { 'idCategorie': category.idCategorie }) }}">edit</a></li>
                                    </ul>

                                </ul>
                            </td>

                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

</div>
        <li>
        <li class="label label-default"><a style="color: white"  href="{{ path('categories_new') }}"> Créer un nouveau produit</a></li>
        </li>
    </ul>
{% endblock %}
