{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > Categories </h3>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="spec ">
    <h3>Voir categorie</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">

                <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                    <img src="{{ asset('public/images/categories/'~category.imageName) }}" class="img-responsive img" alt="">

                </a><br>

                <label>Nom: </label>
                {{ category.nom }}
<br>
                <label>Entrepot :</label>
                {{ category.fkEntrepot }}


    <ul>

        <a href="{{ path('categories_index') }}">  <input type="submit" value="Retour à la liste"></a>


            <a href="{{ path('categories_edit', { 'idCategorie': category.idCategorie }) }}"><input type="submit" value="Modifier"></a>
        <br>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
