{% extends 'base.html.twig' %}
{% block content %}
    <ul>
        {% for c in liste_contrat %}

            <li>

                {{ c.datedeb | date }} - {{ c.datefin | date }} - {{ c.salaire }} - {{ c.nom }} - {{ c.prenom }} - {{ c.entreprise }}
                <a href="{{  path("supprimer_contrat",{"FKidentrepot":c.idEntrepot , "FKiduser":c.id })  }}"> Supprimer </a><br/>
                {# <a href="{{  path("modifier_livraison",{"id":f.idLivraison})  }}"> Modifier </a> #}

            </li>

        {% endfor %}
    </ul>

{% endblock %}
