{% extends 'base.html.twig' %}
{% block content %}



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>






<div class="product">
    <div class="container">
        <div class="spec ">
            <h3> Espace des contrats</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <br/>


        <div class="row" style="margin-bottom: 40px">
        <div class="col">
            <h2 class="forg-left" style="padding-left: 10px"> Voulez-vous ajouter un contrat ? </h2>
        </div>
        <div class="col-md-auto">
        <a class="btn btn-success forg-right" href="" style="width: 180px  ">
            <i class="fa fa-plus fa-lg"></i> Ajouter un contrat</a>
        </div>
        </div>


        <table class="table table-hover">
            <caption style=" margin-bottom: 30px" > <h2 style="text-align: left" >La liste des contrats signés :</h2> </caption>
            <thead>
            <tr class="text-center w-auto" style="font-size: 1.27em" >
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Salaire (DT)</th>
                <th scope="col">Nom du transporteur</th>
                <th scope="col">Prenom du transporteur</th>
                <th scope="col">L'entrepot</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for c in liste_contrat %}
                <tr class="table-light text-center " style="font-size: 1.2em">
                    <td>{{ c.datedeb | date("m/d/Y") }}</td>
                    <td>{{ c.datefin | date("m/d/Y")}}</td>
                    <td>{{ c.salaire }}</td>
                    <td>{{ c.nom }}</td>
                    <td>{{ c.prenom }}</td>
                    <td>{{ c.entreprise }}</td>
                    <td class="text-right">

                        <a class="btn btn-warning" href="" style="width: 100px">
                            <i class="fa fa-pencil-square fa-lg"></i> Modifier</a>

                        <a class="btn btn-danger" href="{{  path("supprimer_contrat",{"FKidentrepot":c.idEntrepot , "FKiduser":c.id })  }}" style="width: 110px">
                            <i class="fa fa-trash-o fa-lg"></i> Supprimer</a>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td> Vous n'avez aucun contrat signé </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
