{% extends 'base.html.twig' %}
{% block header %}
    <div class="header">

        <div class="container">

            <div class="logo">
                <h1> <a href=""><img src="{{ asset('images/debo.jpg') }}" alt="" title="" />DeBBo.<span>Le meilleur entrepôt</span></a></h1>
            </div>
            <div class="head-t">
                <ul class="card">
                    <li><a href="{{ asset('wishlist.html') }}" ><i class="fa fa-heart" aria-hidden="true"></i>Favoris</a></li>
                    <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    <li><a href="{{ asset ('/debboWeb/web/app_dev.php/profile') }}" ><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>

                    </a>
                    {% else %}

                        <a href="{{ path('fos_user_security_login') }}">  <i class="fa fa-sign-in" aria-hidden="true"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                        <li><a href="{{ asset ('/debboWeb/web/app_dev.php/register') }}" ><i class="fa fa-arrow-right" aria-hidden="true"></i>S'enregistrer</a></li>

                    {% endif %}

                    </li>
                </ul>
            </div>

            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">

                            <li><a href="{{ path('produit_index')  }}" class="hyper"> <span>Accueil</span></a></li>
                                <li class=" active"><a href="{{ path('front') }}" class="hyper "><span>Mes Commandes</span></a></li>


                        </ul>
                    </div>
                </nav>
                <div class="cart" >

                    <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


{% endblock %}
{% block content %}

    <div data-vide-bg="{{ asset('video/video') }}">
        <div class="container">
            <div class="banner-info">
                <div class="search-form">
                    <form action="#" method="post">
                        <input type="text" placeholder="Recherche..." name="Search..." id="rech">
                        <input type="submit" value=" " >
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-1.11.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('js/jquery.vide.min.js') }}"></script>

    <div class="content-mid">
        <div class="container">

            <div class="col-md-4 m-w3ls">
                <div class="col-md1 ">
                    <a href="kitchen.html">
                        <img src="{{asset('images/co1.jpg')}}" class="img-responsive img" alt="">
                        <div class="big-sa">
                            <h6>New Collections</h6>
                            <h3>Season<span>ing </span></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 m-w3ls1">
                <div class="col-md ">
                    <a href="hold.html">
                        <img src="{{ asset('images/co.jpg') }}" class="img-responsive img" alt="">
                        <div class="big-sale">
                            <div class="big-sale1">
                                <h3>Big <span>Sale</span></h3>
                                <p>It is a long established fact that a reader </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 m-w3ls">
                <div class="col-md2 ">
                    <a href="kitchen.html">
                        <img src="{{ asset('images/co2.jpg') }}" class="img-responsive img1" alt="">
                        <div class="big-sale2">
                            <h3>Cooking <span>Oil</span></h3>
                            <p>It is a long established fact that a reader </p>
                        </div>
                    </a>
                </div>
                <div class="col-md3 ">
                    <a href="hold.html">
                        <img src="{{ asset('images/co3.jpg') }}" class="img-responsive img1" alt="">
                        <div class="big-sale3">
                            <h3>Vegeta<span>bles</span></h3>
                            <p>It is a long established fact that a reader </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="resultat"></div>

    <div class="content-top ">
        <div class="container ">
            <div class="table-head ">

        <div class="tab-pane active text-style" id="tab" >

            {% for produit in produits %}
                <div class=" con-w3l" >
                    <div class="col-md-3 m-wthree">
                        <div class="col-m">
                            <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                                <img src="{{ asset('public/images/produits/'~produit.imageName) }}" class="img-responsive img" alt="">
                                {% if produit.quantite <= 10 %}
                                    <div class="offer"><p><span>Promotion</span></p></div>
                                {% endif %}
                            </a>
                            <div class="mid-1">
                                <div class="women">

                                    <h6><a href="">{{  produit.libelle }}</a>({{ produit.marque }})</h6>

                                </div>
                                <div class="mid-2">

                                    {% if produit.quantite <= 10 %}
                                        <p ><label>{{ produit.prix /0.9 }}</label><em class="item_price">{{produit.prix }}DT</em></p>
                                    {% else %}
                                        <p ><em class="item_price">{{produit.prix }}DT</em></p>
                                    {% endif %}

                                    <div class="col-12 col-md-offset-6" style="font-size: 1em;" >
                                        <div id="dataReview" data-rating-stars="5" data-rating-input="#dataInput"></div>
                                    </div>

                                    <div class="clearfix"></div>


                                </div>
                                <div class="add">
                                    <li class="btn btn-danger my-cart-btn my-cart-b" > <a  href="#">Ajouter au panier</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

            {% endfor %}
                </div>
        </div>
            </div>
        </div>

        </div>

<script>
    $(document).ready(function () {
        $('#rech').keyup(function () {
            console.log();
        var produit =$(this).val()
            if(produit!=""){
                $.ajax({
                    type:'POST',
                    url:'/debboWeb/web/app_dev.php/Stock/recherche',
                    data:'produit='+encodeURIComponent(produit),
                    success:function (data) {
                        if(data != ""){
                            $('#resultat').append(data);
                        }else{
                            document.getElementById('resultat').innerHTML= "<div style='font-size:20px; text-align:center; margin-top:10px'> Aucun produit</div>"
                        }
                    }
                })
            }
        })

    })

</script>

{% endblock %}