<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DeBBo Admin Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('back/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{ asset('back/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('back/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{{ asset('back/plugins/jqvmap/jqvmap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('back/dist/css/adminlte.min.css') }}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{ asset('back/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('back/plugins/daterangepicker/daterangepicker.css') }}">
    <!-- summernote -->
    <link rel="stylesheet" href="{{ asset('back/plugins/summernote/summernote-bs4.css') }}">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
{% block header %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>

            <li class="nav-item d-none d-sm-inline-block">
                <a href="{{ path('back') }}" class="btn btn-danger">Accueil</a>

            </li>




        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Rechercher" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">

                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">
                    <i class="fa fa-sign-out" ></i> Deconnexion</a>

            </li>
            <!-- Notifications Dropdown Menu -->

        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ asset('index3.html') }}" class="brand-link">
            <img src="{{ asset('Admin/dist/img/user2-160x160.jpg') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Admin dashboard </span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ asset('web/images/debo.png') }} " class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Debbo Admin</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Utlisateurs
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('/debboWeb/web/app_dev.php/Stock/user') }}" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Liste des utilisateurs</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('/debboWeb/web/app_dev.php/Stock/statU') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Statistiques</p>
                                </a>
                            </li>
                        </ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas  fa-rocket"></i>
                            <p>
                                Livraison
                                <i class="right fas fa-angle-left"></i>

                            </p>
                        </a>

                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="{{ asset('/DebboWeb/web/app_dev.php/Transporteur/admin') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Statistique des livraisons</p>
                                </a>
                            </li>

                        </ul>

                    </li>
                    </li>

                    {#*********************************fatma*********************************************#}
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Entrepot
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('entrepot_admin') }}" class="nav-link active">
                                    <i class="far fa-circle text-blue"></i>
                                    <p>Liste des entrepots</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('entrepot_statistic') }}" class="nav-link">
                                    <i class="far fa-circle text-green"></i>
                                    <p>Statistic pour les entrepots</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('location_admin') }}" class="nav-link">
                                    <i class="far fa-circle text-yellow"></i>
                                    <p>Liste des Locations</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('location_statistic') }}" class="nav-link">
                                    <i class="far fa-circle text-red"></i>
                                    <p>Statistic pour les Locations</p>
                                </a>
                            </li>
                        </ul>

                    </li>

{#*********************************fatma*********************************************#}
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Categorie
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('/debboWeb/web/app_dev.php/Stock/categ') }}" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Liste des catégories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{  asset('/debboWeb/web/app_dev.php/Stock/statC') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Statistiques</p>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Produits
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('/debboWeb/web/app_dev.php/Stock/prod') }}" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Liste des produits</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{  asset('/debboWeb/web/app_dev.php/Stock/statP') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Statistiques</p>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Mouvement du stock                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('/debboWeb/web/app_dev.php/Stock/prod') }}" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Liste des mouvements du stock</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{  asset('/debboWeb/web/app_dev.php/Stock/statM') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Statistiques</p>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item has-treeview menu-open">

                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-cart-arrow-down"></i>

                            <p>
                                Commande
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                    <li class="nav-item">
                        <a href="{{  asset('/DebboWeb/web/app_dev.php/admin/commande') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>La liste des commande</p>
                        </a>
                    </li> <li class="nav-item">
                        <a href="{{  asset('/DebboWeb/web/app_dev.php/admin/commande/statistic') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Statistiques</p>
                        </a>
                    </li>

                    </li><li class="nav-item has-treeview menu-open">

                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-cart-arrow-down"></i>

                            <p>
Ressource humaine                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                    <li class="nav-item">
                        <a href="{{  asset('/DebboWeb/web/app_dev.php/rh/admin') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>La liste des commande</p>
                        </a>
                    </li>

                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">


                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        {% endblock %}

{% block content %}
{% block body %}
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            {% for nbP in nbP %}
                            <h3>{{  nbP.nombre}}</h3>
                            {% endfor %}
                            <p>Nombre total des produits</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            {% for nbM in nbM %}
                                <h3>{{  nbM.nombre}}</h3>
                            {% endfor %}
                            {#<h3>53<sup style="font-size: 20px">%</sup></h3> #}

                            <p>Nombre des mouvements du stock</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            {% for nbU in nbU %}
                                <h3>{{  nbU.nombre}}</h3>
                            {% endfor %}
                            <p>Nombre total d'utilisateurs</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            {% for nbCA in nbCA %}
                                <h3>{{  nbCA.nombre}}</h3>
                            {% endfor %}
                            <p>Nombre des catégories</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ quantiteall.cnt }}</h3>

                            <p>Nombre d'entrepot</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a class="small-box-footer" href="{{ path('entrepot_admin')}}">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ quantite.cnt }}<sup style="font-size: 20px"></sup></h3>

                            <p>Nombre d'entrepot loué</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a class="small-box-footer" href="{{ path('entrepot_admin')}}">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ quantite1.cnt }}</h3>

                            <p>Nombre d'entrepot a louer </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a class="small-box-footer" href="{{ path('entrepot_admin')}}">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{quantite2.cnt  }}</h3>

                            <p>Nombre des entrepots libre</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a class="small-box-footer" href="{{ path('entrepot_admin')}}">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
        </div><!-- /.container-fluid -->
            <!-- row -->

            <!-- /.row -->



        </div><!-- /.container-fluid -->
    </section>


        {% endblock %}
        {% endblock %}
    <!-- /.content-wrapper -->
        {% block footer %}
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.2
        </div>
    </footer>
{% endblock %}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


    <!-- jQuery -->
    <script src="{{ asset('back/plugins/jquery/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('back/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('back/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ asset('back/plugins/chart.js/Chart.min.js') }}"></script>
    <!-- Sparkline -->
    <script src="{{ asset('back/plugins/sparklines/sparkline.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('back/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset('back/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('back/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
    <!-- daterangepicker -->
    <script src="{{ asset('back/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ asset('back/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{{ asset('back/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <!-- Summernote -->
    <script src="{{ asset('back/plugins/summernote/summernote-bs4.min.js') }}"></script>
    <!-- overlayScrollbars -->
    <script src="{{ asset('back/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('back/dist/js/adminlte.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('back/dist/js/pages/dashboard.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('back/dist/js/demo.js') }}"></script>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="{{ asset('Admin/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('Admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- overlayScrollbars -->
    <script src="{{ asset('Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('Admin/dist/js/Adminlte.js') }}"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="{{ asset('Admin/dist/js/demo.js') }}"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src={{asset('Admin/plugins/jquery-mousewheel/jquery.mousewheel.js')  }}></script>
    <script src="{{ asset('Admin/plugins/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('Admin/plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
    <script src="{{ asset('Admin/plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ asset('Admin/plugins/chart.js/Chart.min.js') }}"></script>

    <!-- PAGE SCRIPTS -->
    <script src="{{ asset('Admin/dist/js/pages/dashboard2.js') }}"></script>
</div>

{% block scripts %}{% endblock %}

{% block map %}
{% endblock %}
{% block JS %}
{% endblock %}
</body>

</html>