{% extends 'base.html.twig' %}
   {% block content %}
{% block body %}
<div class="banner-top">
    <div class="container">
        <h3 >Produit</h3>
        <div class="clearfix"> </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="#"> <img class="first-slide" src="{{ asset('images/ba.jpg') }}" alt="First slide"></a>

        </div>
        <div class="item">
            <a href="#"> <img class="second-slide " src="{{ asset('images/ba1.jpg') }}" alt="Second slide"></a>

        </div>
        <div class="item">
            <a href="#"><img class="third-slide " src="{{ asset('images/ba2.jpg') }}" alt="Third slide"></a>

        </div>
    </div>
</div>

{#*********************************************header*********************************************************#}
<div class="content-top ">
    <div class="container ">
        <div class="table-head ">
            <nav class="nav justify-content-center">
                <ul class="nav tabs dropdown " id="myTab" >
                    <li class="active"><a href="#tab" data-toggle="tab" id="tous" >Tous les produits</a></li>
                    <li class=""><a href="#tab1" data-toggle="tab" id="ent">Trier par entrepôt</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab" id="categ">Trier par catégorie</a></li>
                </ul>
            </nav>
            {#*********************************************nav*********************************************************#}

            <div class=" tab-content tab-content-t " >
                <div class="tab-pane active text-style" id="tab" >
                    {% for produit in produits %}
                        <div class=" con-w3l" >
                            <div class="col-md-3 m-wthree">
                                <div class="col-m">
                                    <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                                        <img src="{{ asset('public/images/produits/'~produit.imageName) }}" class="img-responsive img" alt="">
                                        {% if produit.quantite <= 10 %}
                                            <div class="offer"><p><span>Promotion</span></p></div>
                                        {% endif %}
                                    </a>
                                    <div class="mid-1">
                                        <div class="women">

                                            <h6><a href="">{{  produit.libelle }}</a>({{ produit.marque }})</h6>

                                        </div>
                                        <div class="mid-2">

                                            {% if produit.quantite <= 10 %}
                                                <p ><label>{{ produit.prix /0.9 }}</label><em class="item_price">{{produit.prix }}DT</em></p>
                                            {% else %}
                                                <p ><em class="item_price">{{produit.prix }}DT</em></p>
                                            {% endif %}

                                            <div class="col-12 col-md-offset-6" style="font-size: 1em;" >
                                                <div id="dataReview" data-rating-stars="5" data-rating-input="#dataInput"></div>
                                            </div>

                                            <div class="clearfix"></div>


                                        </div>
                                        <div class="add">
                                            <li class="btn btn-danger my-cart-btn my-cart-b" > <a  href="{{ asset('app_dev.php/login') }}">Ajouter au panier</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {#**********************************************tt produits********************************************************#}
                <div class="tab-pane text-style" id="tab1" >
                    {% set i=1 %}

                    <nav class="nav-sidebar block-w3">

                        <ul class="nav tabs" >
                            {% for entrepot in entrepots %}
                                {% if i==1 %}
                                    <li class="active"><a href="#{{ entrepot.idEntrepot }}" data-toggle="tab" >{{ entrepot.entreprise }}</a></li>
                                {% else %}
                                    <li class=""><a href="#{{ entrepot.idEntrepot }}" data-toggle="tab" >{{ entrepot.entreprise }}</a></li>
                                {% endif %}

                                {% set i=i+1 %}
                            {% endfor %}

                        </ul>
                    </nav>

                    <div class=" tab-content tab-content-t " >
                        {% set x=1 %}
                        {% for entrepot in entrepots %}
                        {% if x==1 %}
                        <div class="tab-pane active text-style" id="{{ entrepot.idEntrepot }}">
                            {% else %}
                            <div class="tab-pane text-style" id="{{ entrepot.idEntrepot}}">
                                {% endif %}

                                {% for produit in produits %}
                                    {% if produit.fkEntrepot == entrepot %}
                                        {% set x=x+1 %}
                                        <div class=" con-w3l">
                                            <div class="col-md-3 m-wthree">
                                                <div class="col-m" value="{{ produit.idProduit }}">
                                                    <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                                                        <img src="{{ asset('public/images/produits/'~produit.imageName) }}" class="img-responsive img" alt="">
                                                        {% if produit.quantite <= 10 %}
                                                            <div class="offer"><p><span>Promotion</span></p></div>
                                                        {% endif %}
                                                    </a>
                                                    <div class="mid-1">
                                                        <div class="women">

                                                            <h6><a href="">{{  produit.libelle }}</a>({{ produit.marque }})</h6>
                                                        </div>
                                                        <div class="mid-2">

                                                            {% if produit.quantite <= 10 %}
                                                                <p ><label>{{ produit.prix/0.9 }}</label><em class="item_price">{{produit.prix }}</em></p>
                                                            {% else %}
                                                                <p ><em class="item_price">{{produit.prix }}DT</em></p>
                                                            {% endif %}

                                                            <div class="col-12 col-md-offset-6" style="font-size: 1em;" >
                                                                <div id="dataReview" data-rating-stars="5" data-rating-input="#dataInput"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="add">
                                                            <li class="btn btn-danger my-cart-btn my-cart-b" > <a  href="{{ asset('app_dev.php/login') }}">Ajouter au panier</a></li>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    {#**********************************************par entrepot********************************************************#}
                    <div class="tab-pane text-style" id="tab2" >

                        <nav class="nav-sidebar">
                            {% set i=1 %}
                            <ul class="nav tabs" >
                                {% for category in categorys %}
                                    {% if i==1 %}
                                        <li class="active"><a href="#{{ category.idCategorie }}" data-toggle="tab" >{{ category.nom }}</a></li>
                                    {% else %}
                                        <li class=""><a href="#{{ category.idCategorie }}" data-toggle="tab" >{{ category.nom }}</a></li>
                                    {% endif %}
                                    {% set i=i+1 %}
                                {% endfor %}
                            </ul>
                        </nav>
                        <div class=" tab-content tab-content-t " >
                            {% set x=1 %}
                            {% for category in categorys %}
                            {% if x==1 %}
                            <div class="tab-pane active text-style" id="{{ category.idCategorie }}">
                                {% else %}
                                <div class="tab-pane text-style" id="{{ category.idCategorie }}">
                                    {% endif %}

                                    {% for produit in produits %}
                                        {% if produit.fkCategorie == category %}
                                            {% set x=x+1 %}
                                            <div class=" con-w3l">
                                                <div class="col-md-3 m-wthree">
                                                    <div class="col-m">
                                                        <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                                                            <img src="{{ asset('public/images/produits/'~produit.imageName) }}" class="img-responsive img" alt="">
                                                            {% if produit.quantite <= 10 %}
                                                                <div class="offer"><p><span>Promotion</span></p></div>
                                                            {% endif %}
                                                        </a>
                                                        <div class="mid-1">
                                                            <div class="women">

                                                                <h6><a href="">{{  produit.libelle }}</a>({{ produit.marque }})</h6>
                                                            </div>
                                                            <div class="mid-2">

                                                                {% if produit.quantite <= 10 %}
                                                                    <p ><label>{{ produit.prix/0.9 }}</label><em class="item_price">{{produit.prix }}</em></p>
                                                                {% else %}
                                                                    <p ><em class="item_price">{{produit.prix }}DT</em></p>
                                                                {% endif %}

                                                                <div class="col-12 col-md-offset-6" style="font-size: 1em;" >
                                                                    <div id="dataReview" data-rating-stars="5" data-rating-input="#dataInput"></div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="add">
                                                                <li class="btn btn-danger my-cart-btn my-cart-b" > <a  href="{{ asset('app_dev.php/login') }}">Ajouter au panier</a></li>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {#**********************************************par categorie********************************************************#}



   {% endblock %}
   {% endblock %}
