{% extends 'baseBack.html.twig' %}
{% block body %}

    <table class="table table-striped">

        <tr>
            <th>Id Location</th>
            <th>Client</th>
            <th>Date debut de location</th>
            <th>Date fin de location</th>
            <th>Prix de location</th>
            <th>Entreprise</th>
            <th>Nom de proprietaire de l'entrepot</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.idLocation }}</td>
            <td>{{ location.fkUser.getPrenom }} {{ location.fkUser.getNom }}</td>
            <td>{% if location.dateDebLocation %}{{ location.dateDebLocation|date('Y-m-d') }}{% endif %}</td>
            <td>{% if location.dateFinLocation %}{{ location.dateFinLocation|date('Y-m-d') }}{% endif %}</td>
            <td>{{ location.prixLocation }}</td>
            <td>{{ location.fkEntrepot.getEntreprise }}</td>
            <td>  {{ location.fkUser.getNom()}} {{ location.fkUser.getPrenom() }} </td>
            <td><a href='{{ path('location_admin_delete', {id: location.getIdLocation()}) }}' >Supprimer </a> <br>
                <a href='{{ path('location_admin_details', {id: location.getIdLocation()}) }}' >Detail</a> <td><br>
        </tr>

            {% endfor %}
        </tbody>
    </table>


{% endblock %}