{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > <center>Mouvement du stock </h3></center>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="spec ">
    <h3>Modifier mouvement</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <form action="{{ path('mouvementdustock_edit', { 'idMouv': mouvementDuStock.idMouv})}}"  method="POST">

                <div class="key">
                    <label >Nom :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(edit_form.natureMouvement) }}
                    {{ form_errors(edit_form.natureMouvement) }}
                    <div class="clearfix"></div>
                </div>  <div class="key">
                    <label >Nom :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(edit_form.dateMouv) }}
                    {{ form_errors(edit_form.dateMouv) }}
                    <div class="clearfix"></div>
                </div>  <div class="key">
                    <label >Nom :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(edit_form.fkEntrepot) }}
                    {{ form_errors(edit_form.fkEntrepot) }}
                    <div class="clearfix"></div>
                </div>  <div class="key">
                    <label >prod     :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(edit_form.fkProduit) }}
                    {{ form_errors(edit_form.fkProduit) }}
                    <div class="clearfix"></div>
                </div>  <div class="key">
                    <label >qte :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(qte_form.quantite) }}
                    <div class="clearfix"></div>
                </div>
 <div class="key">
                    <label >qte :</label>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form_widget(qte_form.libelle) }}
                    <div class="clearfix"></div>
                </div>

        <input type="submit" value="Edit" />
                    {{ form_end(edit_form) }}
    <ul>
          <a href="{{ path('mouvementdustock_index') }}"><input type="submit" value="Retour à la liste"></a>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">

            {{ form_end(delete_form) }}
                </form>
    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
