{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mouvementdustocks list</h1>

    <table>
        <thead>
            <tr>
                <th>Idmouv</th>
                <th>Naturemouvement</th>
                <th>Datemouv</th>
                <th>Annee</th>
                <th>Nombreprod</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouvementDuStock in mouvementDuStocks %}
            <tr>
                <td><a href="{{ path('mouvementdustock_show', { 'idMouv': mouvementDuStock.idMouv }) }}">{{ mouvementDuStock.idMouv }}</a></td>
                <td>{{ mouvementDuStock.natureMouvement }}</td>
                <td>{{ mouvementDuStock.dateMouv }}</td>
                <td>{{ mouvementDuStock.annee }}</td>
                <td>{{ mouvementDuStock.nombreprod }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mouvementdustock_show', { 'idMouv': mouvementDuStock.idMouv }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mouvementdustock_edit', { 'idMouv': mouvementDuStock.idMouv }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mouvementdustock_new') }}">Create a new mouvementDuStock</a>
        </li>
    </ul>
{% endblock %}
