{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > Mouvement du stock </h3>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="spec ">
    <h3>Voir mouvement d'{{ mouvementDuStock.natureMouvement }}</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
    <table>
        <tbody>

            <tr>
                <th>Naturemouvement</th>
                <td>{{ mouvementDuStock.natureMouvement }}</td>
            </tr>
            <tr>
                <th>Datemouv</th>
                <td>{{ mouvementDuStock.dateMouv | date}}</td>
            </tr>

        </tbody>
    </table>

    <ul>  <a href="{{ path('mouvementdustock_index') }}"><input type="submit" value="Retour à la liste"></a>


        <a href="{{ path('mouvementdustock_edit', { 'idMouv': mouvementDuStock.idMouv }) }}"><input type="submit" value="Modifier"></a>



            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
