{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entrepots list</h1>

    <table>
        <thead>
            <tr>
                <th>Identrepot</th>
                <th>Adresse</th>
                <th>Numfiscale</th>
                <th>Quantitemax</th>
                <th>Etat</th>
                <th>Prixlocation</th>
                <th>Entreprise</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrepot in entrepots %}
            <tr>
                <td><a href="{{ path('entrepot_show', { 'idEntrepot': entrepot.idEntrepot }) }}">{{ entrepot.idEntrepot }}</a></td>
                <td>{{ entrepot.adresse }}</td>
                <td>{{ entrepot.numFiscale }}</td>
                <td>{{ entrepot.quantiteMax }}</td>
                <td>{{ entrepot.etat }}</td>
                <td>{{ entrepot.prixLocation }}</td>
                <td>{{ entrepot.entreprise }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entrepot_show', { 'idEntrepot': entrepot.idEntrepot }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entrepot_edit', { 'idEntrepot': entrepot.idEntrepot }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entrepot_new') }}">Create a new entrepot</a>
        </li>
    </ul>
{% endblock %}
