{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departements list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddep</th>
                <th>Nom</th>
                <th>Etage</th>
                <th>Nbsalles</th>
                <th>Budgetannuel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td><a href="{{ path('dep_show', { 'idDep': departement.idDep }) }}">{{ departement.idDep }}</a></td>
                <td>{{ departement.nom }}</td>
                <td>{{ departement.etage }}</td>
                <td>{{ departement.nbsalles }}</td>
                <td>{{ departement.budgetannuel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dep_show', { 'idDep': departement.idDep }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dep_edit', { 'idDep': departement.idDep }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dep_new') }}">Create a new departement</a>
        </li>
    </ul>
{% endblock %}
