{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departement</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddep</th>
                <td>{{ departement.idDep }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ departement.nom }}</td>
            </tr>
            <tr>
                <th>Etage</th>
                <td>{{ departement.etage }}</td>
            </tr>
            <tr>
                <th>Nbsalles</th>
                <td>{{ departement.nbsalles }}</td>
            </tr>
            <tr>
                <th>Budgetannuel</th>
                <td>{{ departement.budgetannuel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dep_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dep_edit', { 'idDep': departement.idDep }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
