{% extends 'admin.html.twig' %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>  {{ nbemp.cnt }} </h3>

                            <p>Nombre total des employeées</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ (nbsig.cnt/nbemp.cnt)*100 }}<sup style="font-size: 20px">%</sup></h3>

                            <p>Pourcentage des employées non signalées</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{nbdep.cnt}}</h3>

                            <p>Nombre des départements</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{nbsigemp.cnt}}</h3>

                            <p>Nombre des employées alertées (5 ou plus signals)</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
    <!-- Calendar -->
    <div class="card bg-gradient-success">
        <div class="card-header border-0">

            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
            </h3>
            <!-- tools card -->
            <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-bars"></i></button>
                    <div class="dropdown-menu float-right" role="menu">
                        <a href="#" class="dropdown-item">Add new event</a>
                        <a href="#" class="dropdown-item">Clear events</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /. tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body pt-0">
            <!--The calendar -->
            <div id="calendar" style="width: 100%"></div>
        </div>
        <!-- /.card-body -->
    </div>
   <h1> Employée du Mois : </h1>
    <div class="gold"></div>
    <table class="table table-bordered " style="font-size: 20px;width: 100%" >
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Cin</th>
        <th>Salaire</th>
        <th>Email</th>
        <th>Departement </th>
        <th> Entreprise </th>
        <th>Points</th>
        <th> Photo </th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color: #ba8b00">
    {% for employe in empmois %}
        <td>{{ employe.nom }}</td>
        <td>{{ employe.prenom }}</td>
        <td>{{ employe.cin }}</td>
        <td>{{ employe.salaire }}</td>
        <td> {{ employe.email }} <input type="submit" value="Envoyer un email" onClick=" {{ path('send_mail') }} "></td>
        <td> {{ employe.fkDep.nom}} </td>
        <td> {{ employe.fkDep.fkEnt.entreprise }}</td>
        {%  if employe.signalemp<100 %}
            <td>{{ employe.points }} <span class="fa fa-star checked" ></span> </td>
        {% endif %}
        <td> <img src="{{ asset('images/' ~ employe.imageName) }}" style="height: 150px;width: 150px"></td>
        </tr>
    </tbody>
    {% endfor %}

    <div id="Container"></div>
    {{ highchartsScript('highcharts') }}
    {{ highchartsScript('modules/exporting') }}
    {{ highchartsChart('Container', chart) }}






{% endblock %}