{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'idCategorie': category.idCategorie }) }}">{{ category.idCategorie }}</a></td>
                <td>{{ category.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categories_show', { 'idCategorie': category.idCategorie }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categories_edit', { 'idCategorie': category.idCategorie }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
