{% extends 'base.html.twig' %}

{% block content %}
        <div class="banner-top">
            <div class="container" >
                 <h3 > <center>Produits </h3></center>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="spec ">
            <h3>La liste des produits</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>

        <div class="bs-docs-example">
            <table class="table">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Reference</th>
                    <th>Marque</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if user.id == idconnected  %}
                        {% for produit in produits %}
                            {% if user == produit.idUser %}
                                <tr>
                                    <td>{{ produit.libelle }}</td>
                                    <td>{{ produit.reference }}</td>
                                    <td>{{ produit.marque }}</td>
                                    <td>{{ produit.prix }}</td>
                                    <td>{{ produit.quantite }}</td>
                                    <td>{{ produit.image }}</td>
                                    <td>
                                        <ul>
                                            <li class="label label-info" > <a style="color:white"  href="{{ path('produit_show', { 'idProduit': produit.idProduit }) }}">Afficher</a></li>
                                            <li class="label label-default"><a style="color: white" href="{{ path('produit_edit', { 'idProduit': produit.idProduit }) }}">Modifier</a></li>

                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <li class="label label-default"><a style="color: white"  href="{{ path('produit_new') }}"> Créer un nouveau produit</a></li>
        </div>


    {% endblock %}
