{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > <center>Produit </h3></center>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="spec ">
    <h3>Ajouter un nouveau produit</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">

                {{ form_start(form) }}
                <label >Libelle :</label>
                    {{ form_widget(form.libelle) }}
                    {{ form_errors(form.libelle) }}
<br>
                <label >Reference :</label>
                    {{ form_widget(form.reference) }}
                    {{ form_errors(form.reference) }}
                <br>
                <label >Marque :</label>
                    {{ form_widget(form.marque) }}
                    {{ form_errors(form.marque) }}
                <br>
                <label >Prix :</label>
                    {{ form_widget(form.prix) }}
                    {{ form_errors(form.prix) }}
                <br>

                <label >Quantite :</label>
                    {{ form_widget(form.quantite) }}
                    {{ form_errors(form.quantite) }}
                <br>

                <label >Ajouter l'image du produit :</label>
                    {{ form_widget(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                <br>
                <label > Catégorie du produit :</label>

                    {{ form_widget(form.fkCategorie) }}
                    {{ form_errors(form.fkCategorie) }}

                <br>
                <label > Entrepot du produit :</label>
                    {{ form_widget(form.fkEntrepot) }}
                    {{ form_errors(form.fkEntrepot) }}
                <br>
        <input type="submit" value="Créer" />
                {{ form_end(form) }}

    <ul>
            <a href="{{ path('produit_index') }}"><input type="submit" value="Retour à la liste" /></a>
    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}