{% extends 'base.html.twig' %}

{% block content %}
<div class="banner-top">
    <div class="container" >
        <h3 > Produit </h3>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="spec ">
    <h3>Voir produit</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">

                <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
                    <img src="{{ asset('public/images/produits/'~produit.imageName) }}" class="img-responsive img" alt="">

                </a><br>
                <label>Libelle : </label>
                {{ produit.libelle }}<br>

                <label>Reference : </label>
                {{ produit.reference }}<br>

                <label>Marque :</label>
                {{ produit.marque }}<br>

                <label>Prix :</label>
                {{ produit.prix }}<br>

                <label>Quantite :</label>
                {{ produit.quantite }}<br>

                <label>Entrepot :</label>
                {{ produit.fkEntrepot }}<br>

                <label>Catégorie :</label>
                {{ produit.fkCategorie }}<br>


    <ul>

            <a href="{{ path('produit_index') }}"><input type="submit" value="Retour à la liste"></a>


            <a href="{{ path('produit_edit', { 'idProduit': produit.idProduit }) }}"><input type="submit" value="Modifier"></a>


        <a href="{{ path('produit_delete', { 'idProduit': produit.idProduit }) }}"><input type="submit" value="Supprimer" /></a>


    </ul>
            </div></div>
    </div>
</div>

{% endblock %}
