{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande edit</h1>
    <div class="banner-top">
        <div class="container">
            <h3 >Commande</h3>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Idcommande</span>
        <input type="text" class="form-control" contenteditable="false" value={{ commande.idCommande }} aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Total</span>
        <input type="text" class="form-control" value={{ commande.total }} aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Typepaiement</span>
        <input type="text" class="form-control" value={{ commande.typePaiement }} aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Datecommande</span>
        <input type="text" class="form-control" value={% if commande.dateCommande %}{{ commande.dateCommande|date('Y-m-d') }}{% endif %} aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Dateexp</span>
        <input type="text" class="form-control" value={% if commande.dateExp %}{{ commande.dateExp|date('Y-m-d') }}{% endif %} aria-describedby="basic-addon1">
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
