{% extends 'base.html.twig' %}

{% block body %}

    <div class="banner-top">
        <div class="container">
            <h3 >Commande</h3>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div  style="margin: 100px">
        <div class="spec ">
            <h3>list des commandes</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>

        <div class="bs-docs-example">
            <table class="table">
                <thead>
                <tr>
                    <th>Idcommande</th>
                    <th>Total</th>
                    <th>Typepaiement</th>
                    <th>Datecommande</th>
                    <th>Dateexp</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td><a href="{{ path('commande_show', { 'idCommande': commande.idCommande }) }}">{{ commande.idCommande }}</a></td>
                        <td>{{ commande.total }}</td>
                        <td>{{ commande.typePaiement }}</td>
                        <td>{% if commande.dateCommande %}{{ commande.dateCommande|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if commande.dateExp %}{{ commande.dateExp|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li class="label label-info" > <a style="color:white"  href="{{ path('commande_show', { 'idCommande': commande.idCommande }) }}">show</a></li>
                                <li class="label label-default"><a style="color: white" href="{{ path('commande_edit', { 'idCommande': commande.idCommande }) }}">edit</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <a class=" add-1"   href="{{ path('commande_new') }}">Créer une commande</a>

        </div>
    </div>

{% endblock %}
