{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-top">
        <div class="container">
            <h3 >Panier</h3>
            <div class="clearfix"> </div>
        </div>
    </div>

    {% if line_items is defined and panier_data is defined %}
        <div class="container">


            <h1 class="page-title">Shop Cart</h1>
            <form>
                <table class="shop_table cart">
                    <!--Table header-->
                    <thead>
                    <tr>
                        <th class="product-remove">&nbsp;</th>
                        <th class="product-thumbnail">Produit</th>
                        <th class="product-name">&nbsp;</th>
                        <th class="product-price">Prix Unitaire</th>
                        <th class="product-quantity">Quantité</th>
                        <th class="product-subtotal">Sous-Total</th>
                    </tr>
                    </thead>
                    <!--End table header-->

                    <!--Table body-->
                    <tbody>

                    {% for item in line_items %}
                        <tr class="cart_item">
                            <td class="product-remove">
                                <a href="{{ path('item_delete', {itemProduct: item.produit.getId(), itemCart: panier_data.getId() }) }}" class="remove" title="Remove this item"></a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="#">
                                    <img src= "{{asset('images/product/widget1.jpg') }}" alt="cart"></a>
                            </td>

                            <td class="product-name">
                                <a href="#"> {{ item.produit.name }} </a>

                            </td>
                            <td class="product-price">
                                <span class="amount">{{item.produit.prix}} DT</span>
                            </td>

                            <td class="product-quantity">
                                <div class="quantity"><input type="number" step="1" min="0" name="cart" value="1" title="Qty" class="input-text qty text" size="4"></div>
                            </td>

                            <td class="product-subtotal">
                                <span class="amount">{{item.produit.prix}} DT</span>
                            </td>
                        </tr>
                    {% endfor %}


                    <tr>
                        <td class="actions" colspan="6">
                            <a class="back-shop" href="#"><i class="fa fa-angle-left"></i> BACK TO SHOP</a>
                            <a href='{{ path('precommande_new', {'panier': panier_data.getId()}) }}' class="update-cart">Checkout</a>


                        </td>
                    </tr>

                    </tbody>
                    <!--End table body-->
                </table>
            </form>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!--Coupon-->
                    <div class="coupon">
                        <h3>Coupon</h3>
                        <form action='{{ path('apply_coupon', {'panier': panier_data.getId()}) }}'>
                            <p>Enter your coupon code if you have one.</p>
                            <input type="text" name="coupon_code" class="input-text" placeholder="Coupon code">
                            <input type="submit" class="button" name="apply_coupon" value="Apply Coupon">
                        </form>
                    </div>
                    <!--End coupon-->
                </div>
                <div class="col-md-6 col-sm-6">

                    <!--Cart totals-->
                    <div class="cart_totals">
                        <div class="cart_totals_inner">
                            <table>
                                <tbody>
                                {% if pourcentage is defined %}
                                    <tr class="order-total">
                                        <th>Votre Code est bien appliqué !</th>
                                        <td><span class="amount"> - {{pourcentage}}% !</span></td>
                                    </tr>
                                {% endif %}
                                <tr class="order-total">
                                    <th>Total à Payer</th>
                                    <td><span class="amount">{{panier_data.total}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--End cart totals-->

                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1 class="page-title">Your Cart is empty !</h1>
        </div>

    {% endif %}



{% endblock %}
