{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-top">
        <div class="container">
            <h3 >Location</h3>
            <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label><a href="/DebboPiWeb/web/app_dev.php/location/">Location</a><label>/</label>modifier</h4>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="spec ">
        <h3>Modification d'une location</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    {% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input style="width: 150px; margin-bottom: 10px;height: 30px; border:none" class=" add-1" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class=" add-1" href="{{ path('location_index') }}">Retour à la liste </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input style="width: 150px; margin-bottom: 10px;height: 30px; border:none" class=" add-1" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
