{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-top">
    <div class="container">
        <h3 >Location</h3>
        <h4><a href="/DebboPiWeb/web/app_dev.php/">Accueil</a><label>/</label>Location</h4>

        <div class="clearfix"> </div>
    </div>
</div>

<div class="bs-docs-example" style="margin:100px">
    <div class="spec ">
        <h3>Liste des Locations</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date debut de location</th>
                <th>Date fin de location</th>
                <th>Prix de location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>

                <td>{% if location.dateDebLocation %}{{ location.dateDebLocation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if location.dateFinLocation %}{{ location.dateFinLocation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ location.prixLocation }}</td>
                <td>
                    <ul>
                            <li class="label label-info" > <a style="color:white"  href="{{ path('location_show', { 'idLocation': location.idLocation }) }}">Afficher</a></li>
                            <li class="label label-default" > <a style="color:white"  href="{{ path('location_edit', { 'idLocation': location.idLocation }) }}">Modifier</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

            <a class=" add-1" href="{{ path('location_new') }}"> Creer une location</a>

    </ul>
</div>
{% endblock %}